:root {
    --primary-color: #580a7aff;
    --secondary-color: #684a75ff;
    --bg-color: #2c2c2cff;
}

.personal-banner{
    height: 67.5rem;
    max-height: 50rem !important;
    box-shadow: 0px 0px 10px black; /* Ensure the box-shadow is here */
    position: relative;
    z-index: 0;
}

.banner-text{
    font-family: Corbel;
    color: var(--secondary-color);
}

.name{
    color: white !important;
}

.img{
    margin-left: calc(12.5% + 2vw);
}

.banner{
    height: 10rem;
}

@media (min-width: 1200px) {
    .banner{
        height: 50rem !important;
    }
}
/***
@media (max-width: 1200px) {
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 25%;
    }
}

@media (max-width: 600px) {
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 16%;
    }
***/

@media (max-width: 1199.9px) {
    .occupation{
        justify-content: start;
    }
    .personal-banner{
        height: calc(45rem + 10vw);
    }
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 30%;
    }
}

@media (max-width: 785px) {
    .photo{
        margin-top: 1rem;
    }
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 25%;
    }
}

@media (max-width: 704px){
    .photo{
        margin-top: 4rem;
    }
}

@media (max-width: 570px) {
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 17.5%;
    }
}

@media (max-width: 460px) {
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 12%;
    }
}

@media (max-width: 405px) {
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 8%;
    }
}

@media (max-width: 360px) {
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 6%;
    }
}

@media (max-width: 345px) {
    .col-xl-7{
        padding-top: 6rem;
    }
    .col-xl-5{
        padding-left: 5%;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro{
    opacity: 0;
    animation: fadeInAnimation 2s ease 1s forwards
}

.occupation{
    opacity: 0;
    animation: fadeInAnimation 2s ease 2s forwards;
    align-items: center;
}

.links{
    justify-content: center;
}

.social-icon{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: calc(1em + 2vw);
}

.socials{
    padding-top: 6rem;
}