.services-icon{
    background-size: 12rem;
    background-repeat: no-repeat;
    height: 12rem;
}

.services-header{
    text-align: center;
    color: white;
    padding-top: 1.5rem;
    font-family: oswald;
    padding-bottom: .5rem;
}

.col-sm-6{
    display: flex;
    padding-top: 1rem;
}
.services-icon {
    width: 150px; /* Set a fixed width or adjust as needed */
    height: 150px; /* Set a fixed height or adjust as needed */
    background-size: contain; /* Adjust the background size */
}

.services-text-col-game{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center; /* place items horizontally */
    padding-right: 10rem;
    padding-bottom: 1.5rem;
}

.services-text-col-web{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center; /* position items horizontally */
    padding-left: 10rem;
    padding-bottom: 1.5rem;
}


.game-text{
    color: white;
    inline-size: 220px;
    text-align: center;
    padding-top: .5rem;
}

.web-text{
    color: white;
    inline-size: 220px;
    text-align: center;
    padding-top: .5rem;
}

.services-banner {
    height: fit-content;
    position: relative;
    box-shadow: 0 0 7px black;
    z-index: 1;
}

@media (max-width: 778px){
    .services-text-col-game{
        padding-right: 0;
    }
    
    .services-text-col-web{
        padding-left: 0;
    }
}